@import url('https://fonts.googleapis.com/css?famil y=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: black;
}

.bg {
  background: url('https://images.unsplash.com/photo-1561754050-9a1ee0470c73?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80')
    no-repeat center center/cover;
  position: absolute;
  /* top: -30px;
  left: -30px; */
  width: 50%;
  height: 100%;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
